.project-card {
    width: 100%;
    max-width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

.card-header {
    margin-bottom: 1rem;
}

.card-header img {
    width: 100%;
    height: auto;
    padding: 1rem;
}

.card-body {
    font-size: calc(12px + 0.390625vw);
    padding: 0.2rem;
    text-align: center;
}

.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: auto;
}

.btn {
    font-size: calc(16px + 0.390625vw);
    width: 120px;
    height: 40px;
    background-color: #018673;
    border: 1px solid #018673;
    color: white;
    border-radius: 7px;
    cursor: pointer;
}


@media screen and (min-width: 576px) and (max-width: 767px) {
    .project-card {
        max-width: 500px;
    }
}



@media screen and (min-width: 768px) and (max-width: 991px) {
    .project-card {
        max-width: 600px;
    }

}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .project-card {
        max-width: 600px;
    }
    

}

@media screen and (min-width: 1200px) and (max-width: 1980px) {
    .project-card {
        max-width: 600px;
    }
}

@media screen and (min-width: 1981px) {
    .project-card {
        max-width: 650px;
    }

    .card-body {
        font-size: calc(11px + 0.390625vw);
        height: calc(150px + 2.2vw);
    }
    
}

  
  
  
  
  
