
.logo-container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
}


.icon-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-icon {
    width: 80px;
    height: 80px;
    padding: 1rem;
}


.icon-container h3 {
    font-size: calc(12px + 0.390625vw);
}

@media screen and (max-width: 1200px) {
    .logo-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }
}


/*
.logo-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
  }

  .logo-container h3 {
    display: none;
  }
  
  .icon-container {
    width: 3rem;
    height: 3rem;
    margin: 0 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center center;
    transform: translate(-50%, -50%) rotate(0deg) translate(10rem) rotate(0deg);
    animation: orbit 10s linear infinite;
  }
  
  .icon-container:nth-child(1) {
    animation-delay: 0s;
  }
  .icon-container:nth-child(2) {
    animation-delay: 1.25s;
  }
  .icon-container:nth-child(3) {
    animation-delay: 2.5s;
  }
  .icon-container:nth-child(4) {
    animation-delay: 3.75s;
  }
  .icon-container:nth-child(5) {
    animation-delay: 5s;
  }
  .icon-container:nth-child(6) {
    animation-delay: 6.25s;
  }
  .icon-container:nth-child(7) {
    animation-delay: 7.5s;
  }
  .icon-container:nth-child(8) {
    animation-delay: 8.75s;
  }
  
  @keyframes orbit {
    from {
      transform: translate(-50%, -50%) rotate(0deg) translate(10rem) rotate(0deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(360deg) translate(10rem) rotate(-360deg);
    }
  }
  */