.skills-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.text-container {
    max-width: 600px;
}


.skills-title{
    font-size: 5rem;
    margin-bottom: 2rem;
}

.skills-p{
    font-size: 1.6rem;
    margin-bottom: 1rem;
    max-width: 800px;
}

.text-green {
    color: #018673;
    font-weight: 800;
}

@media only screen and (min-width: 940px) {
    .skills-container {
        flex-direction: row;
    }
    
}
