* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    overflow-x: hidden;
    font-family: 'Roboto', Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    color: black;
    background-color: white;
    box-sizing: border-box;
}

li, a {
    color: black;
    }

a, a:link, a:hover, a:visited, a:active {
    text-decoration: none;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}


